.container {
  padding: 80px 400px;
}

@media all and (max-width: 1200px) {
  .container {
    padding: 80px 200px;
  }
}


@media all and (max-width: 740px) {
  .container {
    padding: 80px 60px;
  }
}
